



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.container{
    display: grid; 
   grid-template-columns:repeat(4, 23%);
   gap: 10px;
   justify-content: center;
   padding: 20px;
}

.prod_items{
   border-radius: 8px;
   border: 0.5px solid grey;
   position: relative;
   padding: 10px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

 
}
h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}


img{
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 10px;
}

.prirate h5{
    background-color: black;
    color: white;
    border-radius: 50%;
    width: max-content;
    padding: 8px;

}
.label{
    background-color: yellowgreen;
    width: 80px;
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 0px;
    border-radius: 50px 0px 0px 0px;
   

}
