

<div class="proitems">
    <h2 class="name">{{prod.title}}</h2>
    <img [src]="prod.image" alt="">
   <div class="pri_rat">
    <p>price : <strong> ${{prod.price}}</strong></p>

    <p [ngStyle]="{background: prod.rating > 4 ? 'green' :  'red'}"  class="rate">{{prod.rating}}</p>
      
  </div>
  <p>Category: <strong>{{prod.category}}</strong></p>

 <div class="cart_btn">
  <button class="cart" (click)="addtocart(prod)" >Add To Cart</button>
  <button (click)="goto_details(prod)" >Go To Details</button>
 </div>
  </div>

