<div class="cartPage">

  <div *ngFor="let ele of cartData" class="cartItem">

    <div class="horzontkl">
      <div class="box1">
        <h2>{{ ele.title }}</h2>
        <img [src]="ele.image" alt="" />
      </div>

      <div class="box2">
        <p>
          category: <strong>{{ ele.category }}</strong>
        </p>
        <p>
          price : <strong>{{ ele.price }}</strong>
        </p>
      
        <p>
          Discount : <strong>{{ ele.discount }}%</strong>
        </p>
        <p>
          Rating : <strong>{{ ele.rating }}</strong>
        </p>
 
        <button (click)="handle_delet(ele.id)">DELETE</button>
        <button>Payment</button>
      </div>
    </div>
  </div>
</div>
