



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.container{
    display: grid; 
   grid-template-columns:repeat(4, 23%);
   gap: 10px;
   justify-content: center;
   padding: 20px;
   margin-top: 10px;
}

.prod_items{
   border-radius: 8px;
   border: 1px solid rgb(204, 204, 204);
   position: relative;
   padding: 10px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   display: grid;
   gap: 10px;
 

 
}
h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}


img{
      height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 10px;
    object-fit: contain;
}

 h5{
    background-color: black;
    color: white;
    border-radius: 50%;
    width: max-content;
    padding: 8px;

}
.label{
    background-color: yellowgreen;
    width: 80px;
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 0px;
    border-radius: 50px 0px 0px 0px;
   

}

.pri{
    display: flex;
    gap: 10px;
}




.carousel{
    margin-top: 70px;
}

/* Override the indicator styles */
.carousel .p-carousel-indicators {
    background-color: red !important;
    display: none !important;
  }
  
  /* Override the dot styles */
  .carousel .p-carousel-indicators .p-carousel-indicators-item {
    background-color: red !important;
    display: none !important;
  }
  

  p-carousel-dot-item{
    background-color: red;
  }
  p-carousel-dots-container{
    background-color: red;
  }
  p-carousel-content{
    background-color: red;
  }

  .product-item-content{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
  }