

<div class="carousel">
  <p-carousel [value]="health_concerns"    [numVisible]="5" [numScroll]="1" >
    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="mb-3">
                    <img [src]="product.img" [alt]="product.name" class="product-image" />
                </div>
                <div>
                    <h4>{{ product.name }}</h4>
               
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>
</div>

<div class="carouse2">
  <p-carousel [value]="Featured_Brands"    [numVisible]="5" [numScroll]="1" >
    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="mb-3">
                    <img [src]="product.img" [alt]="product.name" class="product-image" />
                </div>
                <div>
                    <h4 >{{ product.name }}</h4>
                
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>
</div>


<div class="container">



    
  <div *ngFor="let prod of products" class="prod_items">
   

    <div class="info">



      <img [src]="prod.image" alt="" />
      <h4 class="heading">{{ prod.title }}</h4>
    </div>


    
    <!-- <div *ngIf="prod.discount" class="label">
      {{(prod.discount / prod.price*100).toFixed()}}%off
    </div> -->
      <div class="prirate">
       
        <div class="pri">
          <p>Price: {{ prod.price }}</p>
          <del>{{prod.strike}}</del>
          <p>{{prod.discount}}% off</p>
        </div>

        
  
        
      </div>
      <h5 [ngStyle]= "{background :prod.rating > 4 ? 'green' : 'red'}">{{ prod.rating }}</h5>
      <div>category:{{ prod.category }}</div>   
      <p [ngStyle]="{fontWeight:'bold', color : prod.in_inventory ? 'green' : 'red'}" >{{prod.in_inventory ? "Available in stock" : "Not available in stock" }}</p>



  </div>


</div>
