
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.navbar_container{
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 600;
    padding: 0px 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 999;

}

img{
  width: 50px;
  height: 50px;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}


.logo{
    align-items: center;
    color: #ca6364;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;

}

.logo p{
    font-size: 20px;
}

