




<footer class="footer">
    <div class="footer-column">
        <h3>DISCLAIMER</h3>
        <p>This tool is meant to filter stocks based on certain technical parameters and in no way provides any advice to buy or sell stocks. Anyone using this tool will be solely responsible for profits or losses arising from their trades.</p>
    </div>
    <div class="footer-column">
        <h3>ABOUT US</h3>
        <p>Intradayscreener is a stock market Analytics platform that provides complete 360 degree view of markets. It's one of the most advanced stock scanners with hundreds of pre-made scans.</p>
    </div>
    <div class="footer-column">
        <h3>USEFUL LINKS</h3>
        <ul>
            <li>Your Account</li>
            <li>Become an Affiliate</li>
            <li>Contact Us</li>
            <li>Partnerships</li>
            <li>Suggest a feature</li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>CONTACT</h3>
        <p>Financial District, Hyderabad</p>
        <p>Email: <a href="mailto:support@intradayscreener.com">{{email}}</a></p>
        <p>Phone: +91 9347450030</p>
    </div>
</footer>

