


.container {
  width: 500px;
  padding: 10px;
 margin-left: 300px;
}

.loader {
    height: 45px;
    width: 45px;
    border-top: 8px solid rgb(128, 201, 215);
    border-bottom: 8px solid rgb(116, 206, 224);
    border-right: 8px solid rgb(13, 113, 133);
    border-left: 8px solid rgb(13, 113, 133);

    animation: spin 0.7s  linear infinite ;
    border-radius: 50%;

    margin: auto;

    
}


@keyframes spin {

  100%{
    transform: rotate(360deg);
  }
}
