

<ng-template #template>
<app-loader ></app-loader>

</ng-template>

<div  *ngIf="!loading; else template" class="prod_details">


  <div class="box1">
    <img [src]="details_item.image" alt="" />
  </div>

  <div class="box2">
    <h1>{{ details_item.title }}</h1>

    <p>price : {{ details_item.price }}</p>
    <p>discount : {{ details_item.discount }}%</p>


    <p>Rating : {{ details_item.rating }}</p>

    <p>category : {{ details_item.category }}</p>




    <button class="cart_btn">BUY NOW</button>
  </div>



</div>
